<div class="starter-template">
  <h1>Finding Falcon!</h1>
  <p class="lead">Select planets you want to search in...</p>
</div>
<br>
<div  class="pull-right" style="font-size: 21px;position: relative;left: -72px;">
  <strong>Time taken: <span id="time"></span></strong>
</div>
<br><br><hr>
<div class="row" onload="getplanets()">
  <div class="col-md-3" style="font-size: 22px;">
    <fieldset id="myFieldset" class="fieldset">
      <label> Destination 1: </label>
      <br>
      <select id="dest1" ng-change="update('dest1','vehicles1',item);" ng-model="item">
        <option value="">select</option>
        <option ng-repeat="planet in planets" value="{{planet.name}}">{{planet.name}}</option>
      </select>
      <br><br>
      <ul ng-show="vehicles1" id="vehicles1">
          <li ng-repeat="vehicle in vehicles1" class="{{vehicle.disable}}">
              <input type="radio" id="{{vehicle.name}}" ng-click="start(this,'myFieldset','vehicles1')" name="dest1_name" value="{{vehicle.speed}}" /> {{vehicle.name}} ({{vehicle.total_no}})
          </li>
      </ul>
    </fieldset>
  </div>


  <div class="col-md-3" style="font-size: 22px;">
    <fieldset id="myFieldset1" class="fieldset">
      <label> Destination 2: </label>
      <br>
      <select id="dest2" ng-change="update('dest2','vehicles2',item1);" ng-model="item1">
        <option value="">select</option>
        <option ng-repeat="planet in planets" value="{{planet.name}}">{{planet.name}}</option>
      </select>
      <br><br>
      <ul ng-show="vehicles2" id="vehicles2">
          <li ng-repeat="vehicle in vehicles2" class="{{vehicle.disable}}">
            <input type="radio" id="{{vehicle.name}}" ng-click="start(this,'myFieldset1','vehicles2')" name="dest2_name" value="{{vehicle.speed}}" /> {{vehicle.name}} ({{vehicle.total_no}})
          </li>
      </ul>
    </fieldset>
  </div>

  <div class="col-md-3" style="font-size: 22px;">
    <fieldset id="myFieldset2" class="fieldset">
      <label> Destination 3: </label>
      <br>
      <select id="dest3" ng-change="update('dest3','vehicles3',item2);" ng-model="item2">
        <option value="">select</option>
        <option ng-repeat="planet in planets" value="{{planet.name}}">{{planet.name}}</option>
      </select>
      <br><br>
      <ul ng-show="vehicles3" id="vehicles3">
          <li ng-repeat="vehicle in vehicles3" class="{{vehicle.disable}}">
            <input type="radio" id="{{vehicle.name}}" ng-click="start(this,'myFieldset2','vehicles3')" name="dest3_name" value="{{vehicle.speed}}" /> {{vehicle.name}} ({{vehicle.total_no}})
          </li>
      </ul>
    </fieldset>
  </div>

  <div class="col-md-3" style="font-size: 22px;">
    <fieldset id="myFieldset3" class="fieldset">
      <label> Destination 4: </label>
      <br>
      <select id="dest4" ng-change="update('dest4','vehicles4',item3);" ng-model="item3">
        <option value="">select</option>
        <option ng-repeat="planet in planets" value="{{planet.name}}">{{planet.name}}</option>
      </select>
      <br><br>
      <ul ng-show="vehicles4" id="vehicles4">
          <li ng-repeat="vehicle in vehicles4" class="{{vehicle.disable}}">
            <input type="radio" id="{{vehicle.name}}" ng-click="start(this,'myFieldset3','vehicles4')" name="dest4_name" value="{{vehicle.speed}}"/> {{vehicle.name}} ({{vehicle.total_no}})
          </li>
      </ul>
    </fieldset>
  </div>

</div>
 <br><br>
<div class="row">
  <fieldset id="btn" disabled>
    <div class="col-md-12 text-center">
        <a href="#!find" id="singlebutton" name="singlebutton" ng-click="getDetails()" class="btn btn-default btn-large">Find Falcone!</a>
    </div>
  </fieldset>
</div>
